Repository dooseob/elderberry, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, database, api, security, documentation, test, docker, ci/cd, configuration, agent-system

.github/labeler.yml:

# 백엔드 관련 라벨
backend:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/**/*'
      - 'build.gradle.kts'
      - 'settings.gradle.kts'

# 프론트엔드 관련 라벨
frontend:
  - changed-files:
    - any-glob-to-any-file:
      - 'frontend/**/*'
      - 'package.json'
      - 'package-lock.json'

# 데이터베이스 관련 라벨
database:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/main/resources/data.sql'
      - 'src/main/resources/schema.sql'
      - '**/entity/**/*'
      - '**/repository/**/*'

# API 관련 라벨
api:
  - changed-files:
    - any-glob-to-any-file:
      - '**/controller/**/*'
      - '**/dto/**/*'
      - '**/api/**/*'

# 보안 관련 라벨
security:
  - changed-files:
    - any-glob-to-any-file:
      - '**/security/**/*'
      - '**/auth/**/*'
      - '**/SecurityConfig.java'

# 문서 관련 라벨
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**/*'

# 테스트 관련 라벨
test:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*Test.java'
      - '**/*Tests.java'
      - '**/test/**/*'
      - '**/*.test.ts'
      - '**/*.test.tsx'
      - '**/*.spec.ts'
      - '**/*.spec.tsx'

# Docker 관련 라벨
docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# CI/CD 관련 라벨
ci/cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/**/*.yml'

# 설정 파일 관련 라벨
configuration:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.yml'
      - '**/*.yaml'
      - '**/*.properties'
      - '**/*.json'
      - '.env*'

# 에이전트 시스템 관련 라벨
agent-system:
  - changed-files:
    - any-glob-to-any-file:
      - 'claude-guides/**/*'
      - '**/agents/**/*'
      - 'CLAUDE.md'

# 긴급 수정 라벨 (핫픽스)
hotfix:
  - branch:
    - 'hotfix/*'

# 새로운 기능 라벨
feature:
  - branch:
    - 'feature/*'
    - 'feat/*'

# 버그 수정 라벨
bugfix:
  - branch:
    - 'bugfix/*'
    - 'fix/*'

feat: MCP 도구 7개로 확장 - Playwright & Super-Shell 추가 🎭🚀
  .claude/settings.local.json
  CLAUDE.md
  SECURITY.md
  docs/API_TEST_RESULTS.md
  docs/guides/mcp-integration-guide.md
  docs/troubleshooting/solutions-db.md
  frontend/src/App.tsx
  frontend/src/components/layout/MainLayout.tsx
  frontend/src/features/dashboard/DashboardPage.tsx
  src/main/java/com/globalcarelink/common/config/SwaggerConfig.java
  src/main/resources/application.yml
  src/main/resources/static/assets/DashboardPage-BcRHt3Se.js
  src/main/resources/static/assets/DashboardPage-CJN14oSN.js
  src/main/resources/static/assets/MyPage-BEv7kQzN.js
  src/main/resources/static/assets/MyPage-BRvKfns9.js
  src/main/resources/static/assets/NotificationsPage-BkU1NKsa.js
  src/main/resources/static/assets/NotificationsPage-klb74LWA.js
  src/main/resources/static/assets/index-BHIHNhHD.js
  src/main/resources/static/assets/index-BvkBpiYt.js
  src/main/resources/static/index.html
Labels: backend, frontend, documentation, configuration, agent-system

fix: Super-Shell MCP 제거 - 중복 기능으로 인한 시스템 최적화 🗑️
  .claude/settings.local.json
  CLAUDE.md
  docs/guides/mcp-integration-guide.md
Labels: documentation, configuration, agent-system

feat: 특허 출원 전략 분석 완료 + Docker 서버 실행 + 프로젝트 현황 업데이트 📋🚀
  .claude/settings.local.json
  docs/analysis/250731_김두섭_특허출원전략분석.md
  docs/analysis/출원로드맵1.md
  docs/analysis/출원로드맵2.md
  docs/guides/development-status.md
  docs/patent/250730_김두섭_추가특허_멀티에이전트_시스템.md
Labels: documentation, configuration

feat: 엘더베리 에이전트 시스템 v2.0.0 완전 업데이트 🚀
  claude-guides/services/AgentMCPMappingConfig.js
  claude-guides/services/EnhancedPerformanceOptimizer.js
  claude-guides/services/MCPIntegratedAgentSystem.js
  claude-guides/services/SQLiteAgentLogger.js
Labels: agent-system

feat: 엘더베리 에이전트 시스템 v2.2.0 - WebTestingMasterAgent 완전 통합 🎭✨
  .claude/commands/test.md
  .claude/settings.local.json
  claude-guides/services/.claude/commands/test.md
  claude-guides/services/AGENT_SYSTEM_CHANGELOG.md
  claude-guides/services/AgentSystemTest.js
  claude-guides/services/CustomCommandHandler.js
  claude-guides/services/MCPIntegratedAgentSystem.js
  claude-guides/services/PlaywrightMCPAgent.js
  claude-guides/services/WebTestingMasterAgent.js
  claude-guides/services/agent-integration-test-results-1754011969332.json
  claude-guides/services/test-agent-system-integration.js
  docs/문서정리/250801_신희섬_사업계획서_기술요약본.md
Labels: documentation, configuration, agent-system

feat: 커스텀 명령어 시스템 v2.3.0 - 지능형 최적화 완료 🧠⚡
  claude-guides/services/CustomCommandHandler.js
  claude-guides/services/MCPIntegratedAgentSystem.js
  claude-guides/services/optimized-system-test-results-1754018138863.json
  claude-guides/services/test-optimized-command-system.js
Labels: configuration, agent-system

feat: Claude Code 커스텀 명령어 시스템 완전 구축 🎯⚡
  .claude/commands/auto.md
  .claude/commands/deep.md
  .claude/commands/max.md
  .claude/commands/rapid.md
  .claude/commands/smart.md
  .claude/commands/sync.md
  .claude/commands/test.md
Labels: documentation

fix: 프론트엔드 lucide-react 에러 및 빈 화면 문제 완전 해결 🎯✨
  frontend/src/components/demo/sections/AccessibilityDemo.tsx
  frontend/src/components/ui/Badge.tsx
  frontend/src/components/ui/Modal.tsx
  frontend/src/components/ui/index.ts
Labels: frontend

feat: Remove outdated analysis documents and add comprehensive Linear Design System Enhanced theme configuration 🎨✨
  docs/analysis/318.md
  docs/analysis/933.md
  docs/analysis/linear_theme_system_enhanced.json
Labels: documentation, configuration

fix: E2E 테스트 Chrome 설치 문제 완전 해결 🔧✨
  claude-guides/README-CHROME-INSTALL-FIX.md
  claude-guides/services/CustomCommandHandler.js
  claude-guides/services/WebTestingMasterAgent.js
  frontend/playwright.config.ts
  frontend/tests/setup/global-setup.ts
Labels: frontend, documentation, agent-system

feat: 엘더베리 프로젝트 Feature-Sliced Design (FSD) 아키텍처 완전 적용 🏗️✨
  claude-guides/services/AgentMCPMappingConfig.js
  claude-guides/services/EnhancedAgentOrchestrator.js
  claude-guides/services/fsd-agent-test-results-1754238470704.json
  claude-guides/services/test-fsd-agent-integration.js
Labels: configuration, agent-system

feat: /auto 명령어 v2.3.0 지능형 자동화 시스템 구축 🧠⚡
  claude-guides/README-AUTO-COMMAND.md
  claude-guides/README-CustomCommands.md
  claude-guides/services/CustomCommandHandler.js
Labels: documentation, agent-system

feat: Playwright MCP 완전 해결 - Chrome 재설치 멈춤 문제 근본적 해결 v2.0
  claude-guides/README-PLAYWRIGHT-MCP-ENHANCED-FIX.md
  claude-guides/services/CustomCommandHandler.js
  claude-guides/services/PlaywrightMCPEnhanced.js
  frontend/playwright.config.ts
  frontend/tests/setup/global-setup.ts
Labels: frontend, documentation, agent-system

feat: Update Playwright test commands and improve component imports for consistency
  .claude/settings.local.json
  frontend/src/App.tsx
  frontend/test-results/.last-run.json
  frontend/test-results/auth-improvement-개선된-인증-시스템-비회원이-랜딩페이지에-접근할-수-있어야-한다-chromium/error-context.md
  frontend/test-results/auth-improvement-개선된-인증-시스템-비회원이-랜딩페이지에-접근할-수-있어야-한다-chromium/test-failed-1.png
  frontend/test-results/auth-improvement-개선된-인증-시스템-비회원이-랜딩페이지에-접근할-수-있어야-한다-chromium/video.webm
Labels: frontend, documentation, configuration

feat: Remove Playwright MCP integration and update agent system
  .claude/settings.local.json
  claude-guides/README-TEST-COMMAND-FIX.md
  claude-guides/services/AgentMCPMappingConfig.js
  claude-guides/services/CustomCommandHandler.js
  claude-guides/services/MCPIntegratedAgentSystem.js
  claude-guides/services/WebTestingMasterAgent.js
  claude-guides/services/agent-integration-test-results-1754289507872.json
  claude-guides/services/optimized-system-test-results-1754289517949.json
  dev-status.sh
  docs/analysis/1056.md
  docs/analysis/217.md
  frontend/analysis-auth-system-issues.md
  frontend/src/pages/LandingPage.tsx
  frontend/src/pages/auth/SignInPage.tsx
  frontend/src/services/authApi.ts
  frontend/src/shared/ui/Input.tsx
  frontend/src/stores/authStore.ts
  frontend/src/widgets/layout/ui/index.ts
  frontend/tests/auth-improvement.spec.ts
  src/main/java/com/globalcarelink/auth/JwtAuthenticationFilter.java
  test-login-fix.js
  test-login.js
Labels: backend, frontend, security, documentation, test, configuration, agent-system

feat: Configure elderberry-ai.com domain for production deployment
  .env.example
  CLAUDE.md
  docker-compose.dev.yml
  frontend/package.json
  frontend/public/robots.txt
  frontend/public/sitemap.xml
  frontend/src/shared/api/client.ts
  frontend/vite.config.ts
  nginx.conf
  src/main/java/com/globalcarelink/common/config/SecurityConfig.java
  src/main/resources/application.yml
Labels: backend, frontend, api, security, documentation, docker, configuration, agent-system

fix: Resolve critical login issues and improve UX
  .claude/settings.local.json
  docs/analysis/417.md
  docs/analysis/451.md
  frontend/src/main.tsx
  frontend/src/pages/auth/SignInPage.tsx
  frontend/src/services/authApi.ts
  frontend/src/stores/authStore.ts
  frontend/vite.config.ts
  test-login-fix-verification.js
  test-login-fix.sh
Labels: frontend, security, documentation, configuration

fix: Resolve critical rendering loop causing page flickering and performance issues
  RENDERING_FIX_VERIFICATION.md
  docs/analysis/451.md
  docs/analysis/517.md
  frontend/src/hooks/useRenderingMonitor.ts
  frontend/src/pages/auth/SignInPage.tsx
  test-rendering-fix.js
Labels: frontend, security, documentation

fix: Resolve login redirect errors and FSD import path issues
  docs/analysis/1058.md
  docs/analysis/517.md
  docs/analysis/916.md
  frontend/src/features/dashboard/DashboardPage.tsx
  frontend/src/features/facility/FacilitySearchPage.tsx
  frontend/src/pages/auth/SignInPage.tsx
  frontend/src/shared/ui/LazyLoadErrorBoundary.tsx
  package-lock.json
  package.json
  test-login-redirect.js
Labels: frontend, security, documentation, configuration

fix: Emergency fixes to restore login page display
  docs/analysis/839.md
  docs/analysis/916.md
  frontend/src/components/auth/AuthLayout.tsx
  frontend/src/features/jobs/JobListPage.tsx
  frontend/src/hooks/useLinearTheme.simple.ts
  frontend/src/pages/auth/SignInPage.tsx
  frontend/src/shared/ui/Separator.tsx
Labels: frontend, security, documentation

fix: Add missing named export for Separator component to fix blank screen
  frontend/package.json
  frontend/src/features/health/HealthAssessmentWizard.tsx
  frontend/src/shared/ui/Separator.tsx
  frontend/validate-exports.cjs
Labels: frontend, configuration

feat: Complete FSD architecture implementation with modular component structure
  frontend/package-lock.json
  frontend/package.json
  frontend/performance-benchmark.js
  frontend/performance-metrics.json
  frontend/src/components/health/AdlStepBase.tsx
  frontend/src/features/facility/FacilitySearchPage.tsx
  frontend/src/features/facility/components/FacilityDetailModal.tsx.backup
  frontend/src/features/facility/components/FacilityDetailModal/FacilityInfo.tsx
  frontend/src/features/facility/components/FacilityDetailModal/FacilityMap.tsx
  frontend/src/features/facility/components/FacilityDetailModal/FacilityPhotos.tsx
  frontend/src/features/facility/components/FacilityDetailModal/FacilityReviews.tsx
  frontend/src/features/facility/components/FacilityDetailModal/NearbyFacilities.tsx
  frontend/src/features/facility/components/FacilityDetailModal/components.ts
  frontend/src/features/facility/components/FacilityDetailModal/index.tsx
  frontend/src/features/health/steps/AdditionalInfoStep.tsx
  frontend/src/features/health/steps/AdlCommunicationStep.tsx
  frontend/src/features/health/steps/AdlEatingStep.tsx
  frontend/src/features/health/steps/AdlToiletStep.tsx
  frontend/src/features/health/steps/LtciGradeStep.tsx
  frontend/src/features/profile/ProfileDetailPage.tsx
  frontend/src/shared/hooks/useAsyncData.ts
  frontend/src/shared/hooks/useFormData.ts
  frontend/src/shared/hooks/useLocalStorage.ts
  frontend/src/shared/hooks/useModal.ts
  frontend/src/shared/lib/profile/calculations.ts
  frontend/src/shared/lib/profile/formatting.ts
  frontend/src/shared/lib/profile/index.ts
  frontend/src/shared/lib/profile/ltci-utils.ts
  frontend/src/shared/lib/profile/validation.ts
  frontend/src/shared/lib/styles.ts
  frontend/src/shared/lib/theme/accessibility.ts
  frontend/src/shared/lib/theme/color-conversion.ts
  frontend/src/shared/lib/theme/css-variables.ts
  frontend/src/shared/lib/theme/index.ts
  frontend/src/shared/lib/theme/theme-generation.ts
  frontend/src/shared/ui/RadioGroup.tsx
  frontend/src/shared/ui/index.ts
  frontend/src/utils/batchConsoleReplace.js
  frontend/src/utils/profileUtils.ts
  frontend/vite.config.ts
Labels: frontend, configuration

fix: API 엔드포인트 통합 및 백엔드 호환성 개선 - Phase 1
  frontend/src/entities/facility/api/facilityApi.ts
  frontend/src/services/authApi.ts
  frontend/src/shared/lib/adapters/authAdapters.ts
  frontend/src/shared/lib/adapters/facilityAdapters.ts
Labels: frontend, api

feat: Phase 2 구조적 개선 - 동적 라우팅 및 상태 관리 최적화
  frontend/src/App-failed.tsx
  frontend/src/App.tsx
  frontend/src/app/providers/ApiProvider.tsx
  frontend/src/router/RouteWrappers.tsx
  frontend/src/router/routes.ts
  frontend/src/shared/api/apiClient.ts
  frontend/src/shared/api/index.ts
  frontend/src/stores/authStore.ts
  frontend/src/stores/facilityStore.ts
Labels: frontend, api

feat: Implement comprehensive user profile management system
  frontend/src/entities/user/index.ts
  frontend/src/entities/user/model/store.ts
  frontend/src/entities/user/model/types.ts
  frontend/src/entities/user/model/validation.ts
  frontend/src/features/profile/components/JobSeekerToggle.tsx
  frontend/src/features/profile/components/ProfileEditForm.tsx
  frontend/src/features/profile/components/index.ts
  frontend/src/pages/profile/ProfileEditPage.tsx
  frontend/src/router/routes.ts
  frontend/src/shared/api/index.ts
  frontend/src/shared/api/memberApi.ts
Labels: frontend, api

feat: 실시간 채팅 시스템 완전 구현
  frontend/src/entities/chat/index.ts
  frontend/src/entities/chat/model/types.ts
  frontend/src/features/chat-rooms/ChatRoomDetailPage.tsx
  frontend/src/features/chat-rooms/ChatRoomListPage.tsx
  frontend/src/features/chat-rooms/components/ChatRoomItem.tsx
  frontend/src/features/chat-rooms/components/ChatRoomList.tsx
  frontend/src/features/chat-rooms/components/CreateChatRoomModal.tsx
  frontend/src/features/chat-rooms/components/MessageInput.tsx
  frontend/src/features/chat-rooms/components/MessageItem.tsx
  frontend/src/features/chat-rooms/components/MessageList.tsx
  frontend/src/features/chat-rooms/index.ts
  frontend/src/router/routes.ts
  frontend/src/shared/api/chatApi.ts
  frontend/src/shared/api/index.ts
  frontend/src/widgets/header/ui/Header.tsx
Labels: frontend, api

feat: 게시판/커뮤니티 시스템 완전 구현
  frontend/src/entities/board/api/boardApi.ts
  frontend/src/entities/board/index.ts
  frontend/src/entities/board/model/constants.ts
  frontend/src/entities/board/model/types.ts
  frontend/src/features/boards/BoardDetailPage.tsx
  frontend/src/features/boards/BoardListPage.tsx
  frontend/src/features/boards/PostDetailPage.tsx
  frontend/src/features/boards/PostEditPage.tsx
  frontend/src/features/boards/components/CommentForm.tsx
  frontend/src/features/boards/components/CommentList.tsx
  frontend/src/features/boards/components/PostEditor.tsx
  frontend/src/features/boards/index.ts
  frontend/src/router/routes.ts
  frontend/src/shared/ui/ConfirmDialog.tsx
  frontend/src/shared/ui/ErrorMessage.tsx
  frontend/src/shared/ui/LoadingSpinner.tsx
  frontend/src/shared/ui/Pagination.tsx
  frontend/src/shared/ui/index.ts
Labels: frontend, api

feat: Review System 완전 구현 - 다차원 평점 시스템 및 고급 UI
  frontend/src/App.tsx
  frontend/src/entities/review/api/reviewApi.ts
  frontend/src/entities/review/model/types.ts
  frontend/src/features/reviews/FacilityReviewsPage.tsx
  frontend/src/features/reviews/MyReviewsPage.tsx
  frontend/src/features/reviews/ReviewCreatePage.tsx
  frontend/src/features/reviews/components/ReviewCard.tsx
  frontend/src/features/reviews/components/StarRating.tsx
  frontend/src/features/reviews/index.ts
  frontend/src/utils/lazyImports.ts
Labels: frontend, api

feat: Complete Job application system with full-featured UI
  frontend/src/App.tsx
  frontend/src/entities/job/api/jobApi.ts
  frontend/src/entities/job/index.ts
  frontend/src/entities/job/model/types.ts
  frontend/src/features/boards/BoardDetailPage.tsx
  frontend/src/features/boards/BoardListPage.tsx
  frontend/src/features/boards/PostCreatePage.tsx
  frontend/src/features/boards/PostDetailPage.tsx
  frontend/src/features/boards/PostEditPage.tsx
  frontend/src/features/boards/components/CommentList.tsx
  frontend/src/features/coordinator/AvailableCoordinatorsPage.tsx
  frontend/src/features/coordinator/CoordinatorMatchingWizard.tsx
  frontend/src/features/coordinator/SimulationDashboard.tsx
  frontend/src/features/coordinator/index.ts
  frontend/src/features/jobs/JobDetailPage.tsx
  frontend/src/features/jobs/JobListPage.tsx
  frontend/src/features/jobs/MyApplicationsPage.tsx
  frontend/src/features/jobs/components/ApplicationCard.tsx
  frontend/src/features/jobs/components/JobCard.tsx
  frontend/src/features/jobs/index.ts
  frontend/src/features/reviews/components/ReviewCard.tsx
  frontend/src/services/coordinatorApi.ts
  frontend/src/utils/lazyImports.ts
Labels: frontend, api

feat: Implement complete Admin system - 99% project completion
  frontend/src/features/admin/AdminDashboard.tsx
  frontend/src/features/admin/AdminMemberManagement.tsx
  frontend/src/router/routes.ts
  src/main/java/com/globalcarelink/admin/AdminController.java
  src/main/java/com/globalcarelink/admin/AdminService.java
  src/main/java/com/globalcarelink/admin/dto/ActivityStatistics.java
  src/main/java/com/globalcarelink/admin/dto/AdminFacilityResponse.java
  src/main/java/com/globalcarelink/admin/dto/AdminMemberDetailResponse.java
  src/main/java/com/globalcarelink/admin/dto/AdminMemberResponse.java
  src/main/java/com/globalcarelink/admin/dto/AdminMemberSearchRequest.java
  src/main/java/com/globalcarelink/admin/dto/AdminNoticeResponse.java
  src/main/java/com/globalcarelink/admin/dto/AdminPostResponse.java
  src/main/java/com/globalcarelink/admin/dto/AdminPostSearchRequest.java
  src/main/java/com/globalcarelink/admin/dto/AdminReviewResponse.java
  src/main/java/com/globalcarelink/admin/dto/AdminReviewSearchRequest.java
  src/main/java/com/globalcarelink/admin/dto/CacheManagementRequest.java
  src/main/java/com/globalcarelink/admin/dto/FacilityApprovalRequest.java
  src/main/java/com/globalcarelink/admin/dto/MemberRegistrationStats.java
  src/main/java/com/globalcarelink/admin/dto/MemberRoleUpdateRequest.java
  src/main/java/com/globalcarelink/admin/dto/MemberStatusUpdateRequest.java
  src/main/java/com/globalcarelink/admin/dto/NoticeCreateRequest.java
  src/main/java/com/globalcarelink/admin/dto/NoticeUpdateRequest.java
  src/main/java/com/globalcarelink/admin/dto/PostVisibilityUpdateRequest.java
  src/main/java/com/globalcarelink/admin/dto/ReviewVisibilityUpdateRequest.java
  src/main/java/com/globalcarelink/admin/dto/SystemHealthResponse.java
  src/main/java/com/globalcarelink/admin/dto/SystemOverviewStatistics.java
Labels: backend, frontend, api

feat: 엘더베리 프로젝트 최종 프로덕션 빌드 완료
  BUILD_SUCCESS_20250808_163751.md
Labels: documentation

feat: Agent System v2.5.0 - Complete Testing Infrastructure Overhaul
  CLAUDE.md
  claude-guides/README-AUTO-COMMAND.md
  claude-guides/services/AGENT_SYSTEM_CHANGELOG.md
  claude-guides/services/ApiTestingSuite.js
  claude-guides/services/CustomCommandHandler.js
  claude-guides/services/JestTestingSuite.js
  claude-guides/services/ManualTestingGuide.js
  claude-guides/services/McpToolsOptimizer.js
  docs/testing/manual-testing-guide.md
  manual-testing-checklist.html
  test-backend-api.sh
Labels: documentation, agent-system

chore: Update MCPIntegratedAgentSystem to v2.5.0
  claude-guides/services/MCPIntegratedAgentSystem.js
Labels: agent-system

feat: 시설찾기 백엔드 API 통합 및 완전한 프론트엔드 구현
  main/package.json
  main/src/App.tsx
  main/src/hooks/useFacilitySearch.ts
  main/src/pages/FacilitiesPage.tsx
  main/src/pages/FacilityDetailPage.tsx
  main/src/services/facilityService.ts
  main/src/stores/facilityStore.ts
  main/src/types/facility.ts
Labels: configuration

feat: 프로젝트 전체 빌드 완료 및 문서화 업데이트
  .claude/settings.local.json
  CLAUDE.md
  docs/facility-search-integration-plan.md
  docs/facility-search-missing-features.md
  main/package-lock.json
Labels: documentation, configuration, agent-system

feat: Complete .claude directory system v2.5.0 with agent documentation
  .claude/agents/api-documentation.md
  .claude/agents/claude-guide.md
  .claude/agents/debug.md
  .claude/agents/google-seo.md
  .claude/agents/security-audit.md
  .claude/agents/troubleshooting.md
  .claude/commands/max.md
  .claude/config/README.md
  claude-guides/services/CustomCommandHandler.js
  claude-guides/services/MCPIntegratedAgentSystem.js
Labels: documentation, agent-system
